--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.0.1
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.15.2
pandas 
pytest
numpy 
requests
tqdm
matplotlib 
Flask
gunicorn
albumentations    
pillow

-e .