<!DOCTYPE html>
<html lang="en">
<head>

    <title>Drone Image segmentation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">




</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='data-demo.png') }}" alt="mask" width="100%" height="200">
        <h1 class="title_text">Drone image segmentation</h1>
        <h2 style="text-align: center;">by <a href="https://www.linkedin.com/in/amzadhossain880/">AMZAD HOSSAIN RAFI</a></h2>

<div class="container">
<h3>Project Overview</h3>
<p >This is a PyTorch-based project for drone image segmentation. The goal of this project is to segment objects and regions of interest within aerial images captured by drones. Image segmentation is a crucial task in computer vision and has various applications, including agriculture, urban planning, and environmental monitoring.</p>
</div>  
</header>

    <main class="centered-content">
        <h2>Upload your image</h2>

        <form class="upload-form" action='/' method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="imagefile">
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
        </form>

        <div class="prediction-mask">
            <h2>Prediction Mask</h2>
            <img src="{{ url_for('static', filename='mask.png') }}" alt="mask" width="500" height="500">
        </div>
    </main>

    <footer class="centered-content">
        <p>Connect with me:</p>
        <a href="https://www.linkedin.com/in/amzadhossain880/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/AmzadHossainrafis"><i class="fa fa-github"></i></a>
    </footer>
</body>
</html>